*{
  margin: 0;
  padding: 0;

}

.header {
display: flex;
justify-content: space-between;
}

.contact-info{
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
 
  
}

.logo{
  margin-left: 2rem;
  margin-top: 2.5rem;

}
.header-container ul {
  display: flex;
  text-decoration: none;
  margin-top: 2.5rem;

}

.header-container ul li {
  margin-left: 2.5rem;
}


.contact-info ul {
  display: flex;
}
.contact-info ul li {
  
  margin-right: 2rem;

}

li{
  list-style: none;
}